# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# Docker
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
.gemini/
